/*ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #da70d6;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px #da70d6;
  transform: scale(1.1);
}

.rodape {
  background-color: #7b68ee;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0px;
  text-align: center;
}

h2.titulo {
  color: #fffafa;
  font-size: 42px;
  line-height: 40px;
  text-align: center;
}

h2.titulo span {
  color: #7b68ee;
}

/* ESTILO DO CABEÇALHO */
header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #696969;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: azure;
  transform: scale(1.1);
}
header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: #fffafa;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #7b68ee;
}

.topo-do-site .txt-topo-site p {
  color: #fffafa;
  margin: 40px 0;
  text-align: justify;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* ESTILO DA PÁGINA SOBRE */
section .bio {
  padding: 40px 4%;
}

section.bio .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.sobre h1 {
  color: #fffafa;
  font-size: 42px;
  line-height: 40px;
}

.bio .sobre h1 span {
  color: #7b68ee;
}

.bio .sobre p {
  color: #fffafa;
  margin: 40px 0;
  line-height: 28px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-indent: 40px;
}

.img-sobre img {
  border: 2px solid #7b68ee;
}

.img-about {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaçamento entre as imagens */
}

.img-about img {
  border: 2px solid #7b68ee;
  margin: 40px 0;
  display: inline-block;
}

.about p {
  color: #fffafa;
  margin: 40px 0;
  line-height: 28px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-indent: 40px;
}

.resumo p {
  color: #fffafa;
  margin: 40px 0;
  line-height: 28px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-indent: 40px;
}

section.resumo .flex {
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.resumo .img-resumo img {
  border: 2px solid #7b68ee;
  position: relative;
  justify-content: flex-start;
}

/* ESTILO DA PÁGINA ESPECIALIDADES */
section.especialidade {
  padding: 40px 4%;
}

section.especialidade .flex {
  display: flex;
  justify-content: space-between; /* Espaço entre as caixas */
  gap: 20px; /* Espaço entre as caixas */
  flex-wrap: wrap; /* Permite que as caixas quebrem linha em telas menores */
}

.especialidade p {
  color: #fffafa;
  margin: 20px 0;
  line-height: 28px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.especialidade p span {
  color: #7b68ee;
}

.especialidade .especialidade-box {
  color: #da70d6;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid #da70d6;
  flex: 1 1 48%; /* Ocupa 48% da largura da tela, permitindo duas caixas lado a lado */
  background-color: #1e1e1e; /* Cor de fundo para contraste */
  box-sizing: border-box; /* Inclui padding e border no tamanho total da caixa */
}

.especialidade .especialidade-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px;
}

.especialidade .especialidade-box .icon-title {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o ícone e o título */
}

.especialidade .especialidade-box i {
  font-size: 50px;
  color: #fffafa;
  margin-bottom: 10px; /* Espaço entre o ícone e o título */
}

.especialidade .especialidade-box h3 {
  color: #da70d6;
  font-size: 24px;
  margin: 10px 0;
  text-align: center;
}
.especialidade .especialidade-box h3 span {
  color: #fffafa;
}
/* Responsividade para telas menores */
@media (max-width: 768px) {
  .especialidade .especialidade-box {
    flex: 1 1 100%; /* Em telas menores, as caixas ocupam 100% da largura */
  }
}
